@media screen and (min-width: 1200px) {
  footer {
    margin: auto;
    background-color: #101828;
    border-radius: 12px;
    color: white;
    height: 200px;
    width: 1300px;
  }
  footer .center {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .foo_el {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer .foo_el .info .el {
    display: flex;
    align-items: center;
  }
  footer .foo_el .info .el .ind {
    margin: 10px;
    font-size: small;
  }
  footer .center-end {
    display: flex;
    margin-top: 45px;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .foo_el {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer {
    margin: auto;
    background-color: #101828;
    border-radius: 12px;
    color: white;
    height: 230px;
  }
  footer .center {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .foo_el .el {
    display: flex;
    align-items: center;
  }
  footer .foo_el .el .ind {
    margin: 10px;
    font-size: small;
  }
  footer .center-end {
    display: flex;
    margin-top: 45px;
    justify-content: center;
  }
}
@media (min-width: 424px) and (max-width: 767px) {
  footer {
    background-color: #101828;
    border-radius: 12px;
    color: white;
    height: 280px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  footer .center {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .foo_el {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    font-size: 14px;
    justify-content: space-evenly;
  }
  footer .foo_el .info {
    width: 150px;
    margin-top: 10px;
  }
  footer .foo_el .info .el {
    display: flex;
    align-items: center;
  }
  footer .foo_el .info .el .ind {
    margin: 10px;
    font-size: small;
  }
  footer .center-end {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}