@media screen and (min-width: 1200px){
    .foo_el{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer{
        margin: auto;
        background-color: #101828;
        border-radius: 12px;
        color: white;
        height: 200px;
        width: 1300px;
    }
    .center{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .el{
        display: flex;
        align-items: center;
    }
    .span_el{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .ind{
        margin: 10px;
        font-size: small;
    }
    .center-end{
        display: flex;
        margin-top: 45px;
        justify-content: center;
    }  
}
@media (min-width: 768px) and (max-width: 1199px) {
    .foo_el{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer{
        margin: auto;
        background-color: #101828;
        border-radius: 12px;
        color: white;
        height: 230px;
    }
    .center{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .el{
        display: flex;
        align-items: center;
    }
    .span_el{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .ind{
        margin: 10px;
        font-size: small;
    }
    .center-end{
        display: flex;
        margin-top: 45px;
        justify-content: center;
    }    
}
@media (min-width: 424px) and (max-width: 767px) {
    .foo_el{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        font-size: 14px;
        justify-content: space-evenly;
    }
    footer{
        background-color: #101828;
        border-radius: 12px;
        color: white;
        height: 280px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .center{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .el{
        display: flex;
        align-items: center;
    }
    .ind{
        margin: 10px;
        font-size: small;
    }
    .center-end{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    } 
    .info{
        width: 150px;
        margin-top: 10px;
    }   
}
