@media (min-width: 1200px) {
  body {
    background-color: #F2F4F7;
  }
  body header {
    position: sticky;
    top: 0px;
  }
  body header menu {
    width: 1124px;
    margin: auto;
  }
  body header menu .menu {
    display: flex;
    box-shadow: 2px 2px 2px lightgray;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
  }
  body header menu .menu #ex-men {
    display: none;
  }
  body header menu .menu .web {
    margin-left: 20px;
    color: #2d66ee;
    font-weight: bold;
  }
  body header menu .menu .base {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
  }
  body header menu .menu .base .li-header {
    padding: 5px;
  }
  body header menu .menu .numbers {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  body header menu .menu .numbers .li-numb {
    padding: 5px;
    color: #2d66ee;
  }
  body header menu .menu .mail {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-align: center;
  }
  body header menu .menu .mail .mail-text {
    margin-left: 10px;
    color: #2d66ee;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: #F2F4F7;
    overflow-x: hidden;
  }
  body header {
    position: sticky;
    top: 0px;
    width: 100%;
  }
  body header menu {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    font-size: x-small;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray;
    height: 70px;
  }
  body header menu .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  body header menu .menu #ex-men {
    display: block;
  }
  body header menu .menu .web {
    color: #2d66ee;
    font-weight: bold;
    font-size: x-large;
    margin-left: 110px;
  }
  body header menu .menu .base {
    display: none;
  }
  body header menu .menu .numbers {
    display: none;
  }
  body header menu .menu .mail {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 40px;
  }
  body header menu .menu .mail .mail-text {
    margin-left: 10px;
    color: #2d66ee;
    font-size: small;
  }
}
@media (min-width: 424px) and (max-width: 767px) {
  body {
    background-color: #F2F4F7;
    overflow-x: hidden;
  }
  body header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
  }
  body header menu {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    font-size: x-small;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray;
    height: 90px;
    padding-left: 0px;
  }
  body header menu .menu {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 20px;
    width: 100%;
  }
  body header menu .menu #ex-men {
    width: 40px;
    height: 20px;
    justify-self: flex-start;
  }
  body header menu .menu .web {
    color: #2d66ee;
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
  }
  body header menu .menu .base {
    display: none;
  }
  body header menu .menu .numbers {
    display: none;
  }
  body header menu .menu .mail {
    display: none;
  }
}