@media (min-width: 1200px) {
    .mobile-span{
        color: #2D66EE;
    }
    .small{
        font-size: small;
        margin-top: 15px;
    }
    .number-cont{
        margin-top: 30px;
    }
    .form_num_name{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 180px;
        width: 560px;
        border-radius: 12px;
        padding-left: 20px;
        margin-top: 50px;
    }
    label {
        display:block;
    }
    label{
        font-size: small;
    }
    .input-border{
        border: none;
        border-bottom: 1px solid grey;
        padding-top: 7px;
    }
    .input-kaz{
        border: none;
        border-bottom: 1px solid grey;
        background: url(kz.svg) no-repeat scroll 7px 7px;
        padding-left: 30px;
        padding-top: 7px;
    }
    .flex{
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    .margin{
        margin-left: 30px;
    }
    .margin-but{
        margin-left: 30px;
    }
    .but{
        height: 50px;
        width: 120px;
        text-align: left;
        padding-left: 20px;
        border-radius: 8px;
        border: none;
        color: white;
        background-color: #2d66ee;
    }
    .general-flex{
        display: flex;
        flex-direction: row;
        margin-top: -70px;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 90px;
    }
    .development_mobile{
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin-top: 30px;
    }
    .but-hidden{
        display: none;
    }
    .cycle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        height: 400px;
    }
    .dif_development{
        margin-left: 300px;
    }
    .thing{
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .icon{
        margin-left: 20px;
    }
    .size-image{
        display: none;
    }
    .development_cycle{
        font-size: 17px;
        margin-left: 100px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .mobile-span{
        color: #2D66EE;
    }
    .size-image-png{
        display: none;
    }
    .small{
        font-size: small;
        margin-top: 15px;
        width: 340px;
    }
    .form_num_name{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 330px;
        width: 360px;
        border-radius: 12px;
        padding-left: 20px;
        margin-top: 10px;
        box-shadow: 2px 2px 6px lightgray;
    }
    .smaller{
        width: 400px;
    }
    label {
        display:block;
    }
    label{
        font-size: small;
    }
    .input-border{
        border: none;
        border-bottom: 1px solid grey;
        padding-top: 7px;
    }
    .input-kaz{
        border: none;
        border-bottom: 1px solid grey;
        background: url(kz.svg) no-repeat scroll 7px 7px;
        padding-left: 30px;
        padding-top: 7px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .but{
        display: none;
    }
    .general-flex{
        display: flex;
        flex-direction: row;
        margin-top: -90px;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .development_mobile{
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin-top: 30px;
    }
    .margin{
        margin-top: 30px;
    }
    .margin-but{
        margin-top: 30px;
    }
    .number-cont{
        margin-top: 10px;
    }
    .but-hidden{
        height: 50px;
        width: 180px;
        text-align: center;
        border-radius: 8px;
        border: none;
        color: white;
        background-color: #2d66ee;
    }
    .size-image{
        position: absolute;
        z-index: -1;
        width: 800px;
        height: 1350px;
        transform: scale(0.5);
        top: -300px;
        right: -200px;
    }
    .size-image-png{
        display: none;
    }
    .cycle{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        height: 400px;
        justify-content: center;
    }
    .dif_development{
        margin-left: 50px;
    }
    .thing{
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .icon{
        margin-left: 20px;
    }
    .development_cycle{
        font-size: 14px;
        height: 300px;
        width: 400px;
    }
    .thing:hover{
        border-bottom: 1px solid #2D66EE;
    }
    .full_dev{
        font-size: 28px;
    }
}
@media (min-width: 424px) and (max-width: 767px) {
    .mobile-span{
        color: #2D66EE;
    }
    .size-image-png{
        display: none;
    }
    .small{
        font-size: small;
        margin-top: 15px;
        width: 340px;
    }
    .form_num_name{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 330px;
        width: 85vw;
        border-radius: 12px;
        padding-left: 20px;
        margin-top: 10px;
        box-shadow: 2px 2px 6px lightgray;
        z-index: 1;
        transform: translateY(500px);
    }
    .smaller{
        width: 400px;
    }
    label {
        display:block;
        font-size: small;
    }
    .input-border{
        border: none;
        border-bottom: 1px solid grey;
        padding-top: 7px;
    }
    .input-kaz{
        border: none;
        border-bottom: 1px solid grey;
        background: url(kz.svg) no-repeat scroll 7px 7px;
        padding-left: 30px;
        padding-top: 7px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .but{
        display: none;
    }
    .general-flex{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 1200px;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 50px;
    }
    .development_mobile{
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
    }
    .dif_development{
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .margin{
        margin-top: 30px;
    }
    .margin-but{
        margin-top: 30px;
    }
    .number-cont{
        margin-top: 10px;
    }
    .but-hidden{
        height: 50px;
        width: 180px;
        text-align: center;
        border-radius: 8px;
        border: none;
        color: white;
        background-color: #2d66ee;
    }
    .size-image{
        height: 800px;
        z-index: -1;
        transform: scale(100%, 100%) translateY(-350px);
    }
    .size-image-png{
        display: none;
    }
    .cycle{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 400px;
        align-content: center;
        height: 100%;
    }
    .thing{
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .icon{
        margin-left: 20px;
    }
    .development_cycle{
        font-size: 14px;
        height: 300px;
        width: 400px;
        margin-left: 20px;
    }
    .thing:hover{
        border-bottom: 1px solid #2D66EE;
    }
    .full_dev{
        font-size: 28px;
    }
}