#description {
    display: flex;
    flex-direction: column;
    width: 700px;
    border: solid black 2px;
    padding: 5px;
    margin: 30px auto;
    align-items: center;
    text-align: center;
}

#description > h1, p  {
    margin: 0;
}

#comments { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.comments__item {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 5px;
    border: solid black 2px;
    margin: auto;
}

.comments__key {
    font-weight: bold;
}